<div layout="row" layout-margin layout-padding layout-fill>
  <div class="tab-container" flex="75">
	
	<div class="card-row1" layout="row" layout-margin layout-wrap>
		<div class="card" flex></div>
		<div class="card" flex></div>
		<div class="card" flex></div>
		<div class="card" flex></div>
	</div>

	<div class="card-row1" layout="row" layout-margin layout-wrap>
		<div class="card" flex></div>
		<div class="card" flex></div>
		<div class="card" flex></div>
		<div class="card" flex></div>
	</div>
	
	<div class="card-row2"></div>

  </div>

  <div class="card-list" flex="25">
  	Selection List

  </div>
</div>
